body {
  text-align: center;
  font-family: Arial;
  background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
  color: black;
}
